[submodule "reference/applesauce"]
	path = reference/applesauce
	url = https://github.com/hzrd149/applesauce
[submodule "references/mcp-local-rag"]
	path = references/mcp-local-rag
	url = https://github.com/shinpr/mcp-local-rag
